Datasets/Data/ShapeDatabase_INFOMR-master.zip
settings.json
.vscode/launch.json
*.pyc
__pycache__/

# Dataset cache directory
Src/obj-viewer-app/.dataset_cache/

face_area_analysis.csv
edge_length_analysis.csv

*face_area_analysis.csv
*edge_length_analysis.csv
Src/obj-viewer-app/normeliztion/evaluation_Data_sampled_results/csv/edge_length_analysis.csv
Src/obj-viewer-app/normeliztion/evaluation_Data_sampled_results/csv/face_area_analysis.csv
